* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: url('../images/19333445.jpg');
    background-size: 960px;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 10px 20px;
    border: 1px solid #111;
    border-radius: 15px;
    background-color: rgb(255, 245, 238, 0.97);
}
.title_name {
    text-align: center;
    font-size: 40px;
}
.photo {
    margin-top: 30px;
    text-align: center;
}
.photo img {
    width: 200px;
}
.lesson {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: rgb(110, 110, 110);
}
hr {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);

}
.content {
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    text-align: justify;
}
.content p {
    margin-bottom: 15px;
}
.footer {
    font-size: 13px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.footer a {
    color: #111;
}